<div class="card animated fadeIn fast" >
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>
            
            <!-- METODO 1 BOTON QUE redireccciona a travez de codigo en ts por router.navigate  -->
          <button (click) = "verHeroe()" type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>

           <!-- METODO 2 ANCLA redirecciona a travez de routerlink pasando el path mas el index -->
          <a [routerLink]="['/heroe', i]" class= "btn btn-outline-primary btn-block">Ver mas RouterLink...</a>
        </div>
      </div>
